{% extends 'layout.html.twig' %}



{% block title %} Easter Memory {% endblock %}



{% block content %}


<div class ="container-fluid">
    <div class="row welcome_text">

        <div class="col-lg-3">

        </div>
        <div class="col-lg-6">
            <h2>Easter Memory Game</h2><br/>
            <p>Rules : <br/>- When the cards are mixed up, lay the in rows, face down <br/> - Turn over any two cards by clicking on <br/> - If two cards match, you win points. Otherwise they turn back over <br/> - Remember what was on each card where it was <br/> - The game is over when all the cards have been matched</p>
            {% if connection_ok !=''%}
            <a href="../Game/index" class="button welcome_btn">Let's play</a>
            {% endif %}

        </div>
        <div class="col-lg-3">
                    <div class="welcome_user">
                        {% if connection_ok !=''%}
                            <p>Welcome, you are connected</p>
                        {% endif %}
                    </div>




        </div>

    </div>


</div>





{% endblock %}
