{% extends 'layout.html.twig' %}

{% block content %}
    <div class="row">
        {% for egg in eggs %}
            <div class="card {{ egg.rarity }}" style="width: 18rem;">
                <img src="{{ egg.image }}" class="card-img-top" alt="{{ egg.name }}">
                <div class="card-body">
                    <h5 class="card-title">{{ egg.name }}</h5>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}