{% extends 'layout.html.twig' %}

{% block content %}
    <div class="container">
      <div class="row justify-content-around">
      {% for i in random12Egg %}
        {% for egg in i%}
        <div class="card {{ egg.rarity }}" style="width: 15rem; height: 24rem;">
          <img src="{{ egg.image }}" class="card-img-top w-100" alt="...">
        <div class="card-body">
          <h5 class="card-title text-center">{{ egg.name }}</h5>
          <p class="card-text text-center">{{ egg. rarity | capitalize }}</p>
        </div>
      </div>
      {% endfor %}
    {% endfor %}
    </div>
    </div>
{% endblock %}
