

<nav class="navbar navbar-expand-lg ">
    <p class="navbar-brand" >Easter Memory</p>

        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
               <!-- <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a> -->
            </li>
        </ul>

        <a href="/Invent/inventory" class="logo_navbar">
            <img src="/assets/images/inventory.png" width="70" height="70" alt=""></a>

        <a href="/Home/index" class="logo_navbar">
            <img src="/assets/images/home.png" width="60" height="60" alt=""></a>

        {% if connection_ok !=''%}
        <a href="/User/signin" class="logo">
            <img src="/assets/images/logout.png" width="70" height="70" alt=""></a>
        {% endif %}


        {% if connection_ok ==''%}
        <a href="/User/signin" class="logo">
        <img src="/assets/images/account.png" width="70" height="70" alt=""></a>
        {% endif %}


    </div>

</nav>
