body
{
    font-family: sans-serif;

    background-image: url("../images/background2.jpg")  ;
    background-attachment: fixed;
    color: black;
}

@font-face {
    font-family: 'EggyBunnyEar';
    src : url('../font/Eggy Bunny Ear.ttf');

    font-family: 'EggyBunny';
    src : url('../font/Eggy Bunny.ttf');

    font-family: 'KG';
    src : url('../font/KG Hippity Hop.ttf');

}

/* Authentification user */


.player
{
    margin-top: 20px;

}

.player h1
{
    text-align: center;
}

.user
{

    margin-bottom: 20px;

}

.user h2
{
    text-align: center;
}


/* Border des cards par raretée */
.junk
{
    border :8px solid darkgray;
    border-style: inset;
}

.basic
{
    border :8px solid black;
    border-style: inset;
}

.fine
{
    border :8px solid moccasin;
    border-style: inset;
}

.masterwork
{
    border :8px solid darkred;
    border-style: inset;
}

.rare
{
    border :8px solid dodgerblue;
    border-style: inset;
}

.exotic
{
    border :8px solid limegreen;
    border-style: inset;
}

.ascended
{
    border :8px solid darkmagenta;
    border-style: inset;
}

.legendary
{
    border :8px solid gold;
    border-style: inset;
}


.deck {
    min-height: 600px;
    background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);
    padding: 32px;
    border-radius: 10px;
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 3em;
}

.deck .card {
    height: 220px;
    width: 220px;
    background: #2e3d49;
    font-size: 0;
    color: #ffffff;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
}



.card-img-top {
    max-height: 141px;
    max-width: 141px;
    width: auto;
}


/* Navbar */

.navbar-brand
{
    font-family: "KG";

    font-size: 90px;
    color: black  ;
}

.logo_navbar
{
    padding-right: 50px;
}

.navbar
{
    background-color: #D2B4DE    ;
}

.welcome
{
    text-align: center;
    color: black;
}


/* Weclome page */

.welcome_text
{
    margin-top: 30px;
    font-size: 25px;
    font-family: Palatino ;
}

.welcome_text h2
{
    text-align: center;
}

.welcome_btn
{
    margin : auto;
}

