body
{
    font-family: sans-serif;

    background-image: url("../images/background3.jpg")  ;
    background-attachment: fixed;
    color: black;
    
    background-size: cover;
}

@font-face {
    font-family: 'EggyBunnyEar';
    src : url('../font/Eggy Bunny Ear.ttf');

    font-family: 'EggyBunny';
    src : url('../font/Eggy Bunny.ttf');

    font-family: 'KG';
    src : url('../font/KG Hippity Hop.ttf');

    font-family: 'EasterEgg';
    src : url('../font/EasterEgg.ttf');

}

/* Authentification user */


.player
{
    margin-top: 20px;

}

.player h1
{
    text-align: center;
}

.user
{

    margin-bottom: 20px;

}

.user h2
{
    text-align: center;
}


/* Border des cards par raretée */
.junk
{
    border :8px solid darkgray;
    border-style: inset;
}

.basic
{
    border :8px solid black;
    border-style: inset;
}

.fine
{
    border :8px solid moccasin;
    border-style: inset;
}

.masterwork
{
    border :8px solid darkred;
    border-style: inset;
}

.rare
{
    border :8px solid dodgerblue;
    border-style: inset;
}

.exotic
{
    border :8px solid limegreen;
    border-style: inset;
}

.ascended
{
    border :8px solid darkmagenta;
    border-style: inset;
}

.legendary
{
    border :8px solid gold;
    border-style: inset;
}


.deck {

    padding: 32px;
    border-radius: 10px;
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 3em;
}

.deck .front {
    height: 220px;
    width: 220px;
    background: #2e3d49;
    font-size: 0;
    color: #ffffff;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
}



.card-img-fouc {
    max-height: 141px;
    max-width: 141px;
    width: auto;
}

.score {
    font-family: "EasterEgg";
}

/* Navbar */

.navbar-brand
{
    font-family: "EasterEgg";

    font-size: 90px;
    color: deepskyblue     ;
}

.logo_navbar
{
    padding-right: 50px;
}

.navbar
{
    opacity: 100%;
    border: transparent;


}

.welcome
{
    text-align: center;


}

.welcome_user
{

    font-size: 15px;
    margin-top: -100px;
    text-align: right;
}


/* Welcome page */

.welcome_text
{
    margin-top: 50px;
    font-size: 25px;
    font-family: Palatino ;
}

.welcome_text h2
{
    text-align: center;
}

.welcome_btn
{
    margin : auto;
    color: #F354B5  ;
}


.flip-container {
    perspective: 1000px;
}
.flip-container.hover .flipper {
    transform: rotateY(180deg);
}
.flip-container,
.front,
.back {
    width: 220px;
    height: 220px;
}
.flipper {
    transition: 0.6s;
    transform-style: preserve-3d;
    position: relative;
}
.front,
.back {
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
}
.back {
    z-index: 2;
    transform: rotateY(0deg);
}
.front {
    transform: rotateY(180deg);
}


.deck .back{
    background-image: url("/assets/images/220px-easter-eggs.jpg");
    border-radius: 8px;
    border: 2px solid pink;

}



.backgroundQuentin {
    background-color: beige;
}


